@import "../base";
@import "../variable";

.cardContainer {
  width: 100%;
  border-radius: 5px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 20px;
  padding: 188px 20px 15px 20px;
  overflow: hidden;
  h2 {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
}

.gallery {
  a {
    text-decoration: none;
  }
}

@media (min-width: 769px) {
}
