@import "../base";
@import "../variable";

.cardContainer {
  width: 100%;
  border-radius: 5px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );

  margin-top: 20px;
  padding: 188px 20px 15px 20px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
  text-decoration: none;
}
