@import "../base";
@import "../variable";

.carousel {
  width: 100%;

  margin-bottom: 5px;
}

.image-container {
  position: relative;
  .carousselPictures {
    height: 255px;
    width: 100%;
  }
  .arrowLeft {
    position: absolute;
    left: 3%;
    top: 45%;
    border: none;
    background-color: transparent;
  }
  .arrowRight {
    position: absolute;
    right: 3%;
    top: 45%;
    border: none;
    background-color: transparent;
  }
  .arrowLeft,
  .arrowRight:hover {
    cursor: pointer;
  }
  .counter {
    display: none;
  }
}

@media (min-width: 769px) {
  .carousel {
    margin-bottom: 20px;
  }

  .image-container {
    .arrowLeft {
      height: 80px;
      top: 35%;
    }
    .arrowRight {
      height: 80px;
      top: 35%;
    }
    .carousselPictures {
      height: 415px;
      object-fit: cover;
      border-radius: 25px;
    }
    .counter {
      display: block;
      position: absolute;
      bottom: 5%;
      left: 50%;
      color: $main-white;
    }
  }
}
