@import "../base";
@import "../variable";

.carousel {
  width: 100%;
  margin-bottom: 5px;
}

.image-container {
  position: relative;
  img {
    width: 100%;
  }
  .arrowLeft {
    position: absolute;
    left: 3%;
    top: 40%;
    border: none;
    background-color: transparent;
  }
  .arrowRight {
    position: absolute;
    right: 3%;
    top: 40%;
    border: none;
    background-color: transparent;
  }
  .counter {
    display: none;
  }
}

@media (min-width: 769px) {
  .carousel {
    margin-bottom: 20px;
  }

  .image-container {
    img {
      border-radius: 25px;
    }
    .counter {
      display: block;
      position: absolute;
      bottom: 5%;
      left: 50%;
      color: white;
    }
  }
}
