@import "../base";
@import "../variable";

.housingTitle {
  color: #ff6060;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.housingDescription {
  color: #ff6060;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

@media (min-width: 769px) {
  .housingTitle {
    font-size: 36px;
  }

  .housingDescription {
    font-size: 18px;
  }
}
