@import "base";
@import "variable";

.housingContent {
  display: flex;
  flex-direction: column;
}

.ratingAndHost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .housingContent {
    flex-direction: row;
  }
}
