@import "base";
@import "variable";

.housingContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ratingAndHost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titleAndTags {
  margin-bottom: 15px;
}

@media (min-width: 769px) {
  .housingContent {
    flex-direction: row;
  }

  .ratingAndHost {
    flex-direction: column-reverse;
  }

  .housingsCollapse {
    display: flex;
    justify-content: space-between;
    gap: 75px;
    .collapseComponent {
      width: 50%;
    }
  }
}
